{% extends 'base_generic.html' %}

{% block title %}Login - Django Reddit{% endblock %}

{% block content %}
  <h2 class="text-center">Login</h2>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- Display any error messages -->
      {% if form.errors %}
        <div class="alert alert-danger">
          <ul>
            {% for field in form %}
              {% for error in field.errors %}
                {% if error %}
                <li>{{ error }}</li>
                {% endif %}
                {% endfor %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      

      <!-- Display form errors -->
      {% if form.non_field_errors %}
      <div class="alert alert-danger">
          <ul>
              {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
              {% endfor %}
          </ul>
      </div>
      {% endif %}
      <!-- Login Form -->
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control" id="username" value="{{ form.username.value }}" required>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" id="password" required>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>

      <hr>
      <div class="text-center">
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
      </div>
    </div>
  </div>
{% endblock %}
